<section class="mg-t-6">
	<div class="fundo">
		<div class="container">
			<div class="box-3 pd-b-2 shadow-down">
				
                <div class="box-12 img-cartas">
				   <img src="../assets/img/multiplataforma.png" alt="" class="block mg-auto" /> 
				</div>
				
				<div class="box-12 "> 
				   <h2 class="fonte16 fw-6 espaco-letra txt-c fnc-preto-1 mg-t-2 mg-b-2"> Multiplataforma</h2>
				</div>
				
				<div class="box-12 pd-10 "> 
                    <p class="fonte14 fw-4 espaco-letra txt-c fnc-cinza">
                        Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, 
                        permanecendo essencialmente inalterado. Se popularizou na década de 60, 
                        quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, 
                        e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
                    </p>
                </div>

				<div class="box-12 mg-t-2"> 
                     <a  class="btn btn-borda-verde mg-auto" href="mg-r-2 btn btn-borda-verde mg-t-2 fnc-preto-1">saiba mais</a>
                </div>

			</div>
			<div class="box-3 pd-b-2 shadow-down">
				<div class="box-12 img-cartas">
					<img src="../assets/img/desempenho.png" alt="" class="block mg-auto" /> 
				 </div>
				 
				 <div class="box-12 "> 
					<h2 class="fonte16 fw-6 espaco-letra txt-c fnc-preto-1 mg-t-2 mg-b-2"> Desempenho</h2>
				 </div>
				 
				 <div class="box-12 pd-10 "> 
					 <p class="fonte14 fw-4 espaco-letra txt-c fnc-cinza">
						 Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, 
						 permanecendo essencialmente inalterado. Se popularizou na década de 60, 
						 quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, 
						 e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
					 </p>
				 </div>
 
				 <div class="box-12 mg-t-2"> 
					  <a  class="btn btn-borda-verde mg-auto" href="mg-r-2 btn btn-borda-verde mg-t-2 fnc-preto-1">saiba mais</a>
				 </div>
			</div>
			<div class="box-3 pd-b-2 shadow-down">
				<div class="box-12 img-cartas">
					<img src="../assets/img/velocidade.png" alt="" class="block mg-auto" /> 
				 </div>
				 
				 <div class="box-12 "> 
					<h2 class="fonte16 fw-6 espaco-letra txt-c fnc-preto-1 mg-t-2 mg-b-2"> Velocidade</h2>
				 </div>
				 
				 <div class="box-12 pd-10 "> 
					 <p class="fonte14 fw-4 espaco-letra txt-c fnc-cinza">
						 Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, 
						 permanecendo essencialmente inalterado. Se popularizou na década de 60, 
						 quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, 
						 e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
					 </p>
				 </div>
 
				 <div class="box-12 mg-t-2"> 
					  <a  class="btn btn-borda-verde mg-auto" href="mg-r-2 btn btn-borda-verde mg-t-2 fnc-preto-1">saiba mais</a>
				 </div>
			</div>
			<div class="box-3 pd-b-2 shadow-down">
				<div class="box-12 img-cartas">
					<img src="../assets/img/produtividade.png" alt="" class="block mg-auto" /> 
				 </div>
				 
				 <div class="box-12 "> 
					<h2 class="fonte16 fw-6 espaco-letra txt-c fnc-preto-1 mg-t-2 mg-b-2"> Produtividade</h2>
				 </div>
				 
				 <div class="box-12 pd-10 "> 
					 <p class="fonte14 fw-4 espaco-letra txt-c fnc-cinza">
						 Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, 
						 permanecendo essencialmente inalterado. Se popularizou na década de 60, 
						 quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, 
						 e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
					 </p>
				 </div>
 
				 <div class="box-12 mg-t-2"> 
					  <a  class="btn btn-borda-verde mg-auto" href="mg-r-2 btn btn-borda-verde mg-t-2 fnc-preto-1">saiba mais</a>
				 </div>
			</div>
		</div>
	</div>
</section>