<header class="header-dark hg-80 pd-t-1">
	<div class="container">
		<div class="box-4">
			<h1>
				<a [routerLink]="['/home']" class="fonte20 espaco-letra fonte-poppins fnc-branco">Logo</a>
				
			</h1>
		</div>
		<div class="box-8 mg-t-2">
					<nav class="menu">
						<ul class="flex justify-end">
							<li><a [routerLink]="['/produto']" >Produto </a></li>
							<li><a [routerLink]="['/sobre']" >Sobre </a></li>
							<li><a [routerLink]="['/contato']" >Contato </a></li>
							<li><a [routerLink]="['/feature-data-binding']" > Features </a></li>
						</ul>
					</nav>
				</div>
	</div>
</header>